.filter-controls {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  padding: 20px;
  background-color: #ffffff;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.filter-controls h2 {
  margin-bottom: 15px;
  flex: 1 1 100%; /* Makes the h2 take the full width on smaller screens */
}

.filter-controls label {
  margin-right: 10px;
  color: black;
}

.filter-controls select {
  margin-bottom: 10px;
  padding: 5px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .filter-controls {
    margin-right: 0px;
    margin-left: 0px;
  }
  
  .filter-controls h2 {
    margin-bottom: 10px;
    text-align: center;
  }

  .filter-controls label,
  .filter-controls select {
    margin-bottom: 15px;
  }

  .product-list {
    gap: 15px;
  }
}

@media (max-width: 550px) {
  .filter-controls {
    padding: 15px;
  }

  .filter-controls h2 {
    font-size: 18px;
  }

  .filter-controls select {
    padding: 4px;
  }

  .product-list {
    gap: 10px;
  }
}
